[Unit]
Description=Timer per executar Kpler Fetch cada dia a les 2 AM

[Timer]
OnCalendar=*-*-* 02:00:00
Persistent=true

[Install]
WantedBy=timers.target
